<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Assignment 2">
<!--    <listeners>-->
<!--        <listener class-name="listeners.TestListener"/>-->
<!--    </listeners>-->
    <listeners>
        <listener class-name="listeners.AllureListener"/>
    </listeners>
    <test name="All Tests">
        <classes>
            <class name="tests.CheckoutTests"/>
            <class name="tests.CurrencyTests"/>
            <class name="tests.LoginTests"/>
            <class name="tests.RegistrationTests"/>
            <class name="tests.SearchTests"/>
            <class name="tests.ShoppingCartTests"/>
            <class name="tests.SortTests"/>
            <class name="tests.TabletsTests"/>
        </classes>
    </test>
</suite>